/* dialog */
.jqplot-event-canvas{
 /*display:none*/
 z-index: 0;
}
.smallChart .jqplot-series-canvas{
 /*display:none*/
 width: 160px;
 height: 30px;

}

.bigChart .jqplot-series-canvas{
 /*display:none*/
 width: 100px;
 height: 45px;
}
.bigChart .jqplot-grid-canvas {
    display: none;
}

#pieChartInsight .jqplot-data-label{
	color:white;
	font-weight: bold;

}
#pieChartInsight .jqplot-table-legend{
	font-size: 11px;
	margin-top: -15px;
	padding-top: 0px;
	bottom:0px;
}
#pieChartInsight .jqplot-table-legend-label{
	font-size: 10px;
}
/*
.jqplot-grid-canvas {
    display: none;
}

.jqplot-yaxis-tick{
	display: none;	
}
.jqplot-xaxis-tick{
	display: none;	
}*/
.jqplot-title{
	display: none
}
.jqplot-point-label{
/*	color: white;
	display: none;*/
	font-size: 15px;
	font-weight: bold;
}
.jqplot-series-canvas{
	top:0px;
}
.ui-dialog.track-dialog .ui-dialog-contain 
{ 
	margin-top: 10%; 
}
.ui-dialog .ui-content,.ui-dialog .ui-content
{
	padding-bottom: 0px;
	
} 

.ui-controlgroup-controls{
	padding-top: 0px;
	margin-top:  -6px;

}
.ui-btn.radiobtn {
    text-align: left;
    height: 18px;
    width: 100%;
    padding-top: 0px;

 } 

.radiobtn .ui-btn-inner{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

.ui-btn.radiobtnTime {
    text-align: left;
    height: 20px;
    width: 100%;
    padding-top:0px;

 } 
.radiobtnTime .ui-btn-inner{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

/* .ui-select .ui-btn{
    height: 22px;
    padding-top: 0px;

 }
 
.ui-select .ui-btn .ui-btn-inner{
    padding-top: 3px;
  
 } 
*/
.ui-btn-text{
  font-size: 11px;
    padding-top: 0px;

}


/*track input */
#track_area
{
	margin-top:5px;
	/*height:30px; 
	max-height: 70px;*/
	padding-bottom: 0px; 
	white-space: pre-wrap; 
}
#function_bar{
	-webkit-border-radius: 0px !important;
 	-moz-border-radius: 0px !important;
 	border-radius: 0px !important;
 	height: 25px;
 	margin-top: -20px;
 	margin-left:0px;

} 
#suggestions li{
	font-size: 10px;
}
.scrollable {
	padding-top: 0px;
	max-height: 120px;
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

            /* iOS specific fix, don't use it on Android devices */
.scrollable > * {
            -webkit-transform: translateZ(0px);
}
/*nav link */
.navlink {
	text-align: center;
	text-decoration: none;
	color: gray;
}
.navlink a:link{
	color: gray;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	vertical-align: center;
}

.navlink a:active {
	color: gray;
	text-decoration: none;
	font-weight: bold;
}
.navlink a:visited{
	color: gray;
	text-decoration: none;
}
.navlink a:hover {
	text-decoration: none;
	color: black;

}

#resultMsg a:link{
	color: gray;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
	vertical-align: center;
}
.defaultText { }
.defaultTextActive { color: #a1a1a1; font-style: italic; }

.badgeGreen {
border: 1px solid #56A00E;
background: #74B042;
color: white;
font-weight: bold;
text-shadow: 0 1px 1px #335413;
background-image: -webkit-gradient(linear, left top, left bottom, from(#74B042), to(#56A00E));
background-image: -webkit-linear-gradient(#74B042, #56A00E);
background-image: -moz-linear-gradient(#74B042, #56A00E);
background-image: -ms-linear-gradient(#74B042, #56A00E);
background-image: -o-linear-gradient(#74B042, #56A00E);
background-image: linear-gradient(#74B042, #56A00E);
}
/*"", "#df8321",*/
.badgeBlue {
border: 1px solid #5E87B0;
background: #5E87B0;
color: white;
font-weight: bold;
background-image: -webkit-gradient(linear,left top,left bottom,from( #5E87B0),to( #5E87B0));
background-image: -webkit-linear-gradient( #5E87B0,#5E87B0 );
background-image: -moz-linear-gradient( #5E87B0,#5E87B0 );
background-image: -ms-linear-gradient( #5E87B0,#5E87B0 );
background-image: -o-linear-gradient(#5E87B0,#5E87B0);
background-image: linear-gradient( #5E87B0,#5E87B0);
}

.badgeRed {
border: 1px solid #bc4427;
background: #bc4427;
color: white;
font-weight: bold;
background-image: -webkit-gradient(linear,left top,left bottom,from( #bc4427 ),to( #bc4427 ));
background-image: -webkit-linear-gradient( #bc4427,#bc4427 );
background-image: -moz-linear-gradient( #bc4427,#bc4427 );
background-image: -ms-linear-gradient( #bc4427,#bc4427 );
background-image: -o-linear-gradient( #bc4427,#bc4427 );
background-image: linear-gradient( #bc4427,#bc4427 );
}
/*****************profilePicture **************/
.profilePicture {
width:'70px';
height:'70px';
float:left;
padding-bottom: 0px;
padding-top: 0px;
}

.rotate{
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
}



.chkcontrol .ui-btn{
  	height: 20px;
    /*&idth: 100%;*/
    padding-top: 0px;
}
.chkcontrol .ui-btn-inner{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
}


.textBoxAsLabel
{
   border: none;
   background-color: #fff;
   background: transparent;
}

/******validation*****/
		label.error {
				color: red;
				font-size: 16px;
				font-weight: normal;
				line-height: 1.4;
				margin-top: 0.5em;
				width: 100%;
				float: none;
		}

		@media screen and (orientation: portrait){
				label.error { margin-left: 0; display: block; }
		}

		@media screen and (orientation: landscape){
				label.error { display: inline-block; margin-left: 22%; }
		}

		em { color: red; font-weight: bold; padding-right: .25em; }
/**********/
/*
.ui-btn-active {
border: 1px solid #2373a5;
background: #5393c5;
font-weight: bold;
color: #fff;
cursor: pointer;
text-shadow: 0 1px 1px 
#3373a5;
text-decoration: none;
background-image: -webkit-gradient(linear,left top,left bottom,from( 
#5393c5 ),to( #6facd5 ));
background-image: -webkit-linear-gradient( 
#5393c5, #6facd5 );
background-image: -moz-linear-gradient( 
#5393c5, #6facd5 );
background-image: -ms-linear-gradient( 
#5393c5, #6facd5 );
background-image: -o-linear-gradient( 
#5393c5, #6facd5 );
background-image: linear-gradient( 
#5393c5, #6facd5 );
font-family: Helvetica,Arial,sans-serif;
}*/
